# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
.env/
*.env
*.venv
server/.venv/
server/.env

# Node
node_modules/
pm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist

# Vite
.vite/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Misc
*.log
*.sqlite3
